@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.55rem;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0.063rem 0.063rem 3.125rem rgba(31, 47, 86, 0.12), 0 0.063rem 0.125rem rgba(31, 47, 86, 0.24);
    /* box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.22); */
}

img {
    max-width: 100%;
}

.text-content {
    /* padding: 32px; */
    padding-top: 40px;
    padding-right: 47.200px;
    padding-bottom: 47.200px;
    padding-left: 47.200px;
    text-align: center;
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.75rem;
}

.text-content p.subtitle {
    color: #8a8a8a;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.6;
}

.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 24px 24px;
    align-items: center;
    justify-content: space-between;
    line-height: 1.25;
    gap: 1.25rem
}

.plan-box-icon {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;

}

.plan-box-icon .plan-box-content {
    margin-left: 20px;
}

.plan-box-content h2 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-box-content p {
    font-size: 1.025rem;
    color: #8a8a8a;
}

.plan-box-content {
    flex-grow: 1;
    text-align: left;
}

.plan-box a {
    font-weight: 700;
    font-size: 14px;
    color: hsl(245, 75%, 52%);

}

.plan-box a:hover {
    text-decoration: none;
    color: #766cea;
}

a.proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    border-radius: 12px;
    padding: 15.2px 24px;
    margin: 30px 0;
    transition: background-color .3s ease;
    box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.13), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.18);
}

a.proceed-btn:hover {
    background-color: #766cea;
    box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25), 0 0.625rem 0.625rem rgba(31, 47, 86, 0.22);
}

a.cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
}

a.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }

    .container {
        max-width: 87%;
    }

    .hero img {
        width: auto;
    }

    .title {
        font-size: 23px;
    }

    div.plan-box {
        padding: 12px;
    }

    .plan-box-left div {
        margin-left: 10px;
    }

    a.proceed-btn,
    a.cancel-btn,
    .plan-box a {
        font-size: 13px;
    }

    .text-content {
        padding: 9% 7%;
    }
}

@media screen and (min-width: 89.9375em) {
    .card-order {
        max-width: 28.125rem;
    }

    .card-order__content {
        padding: 2.5rem 2.95rem 2.95rem 2.95rem;
    }

    .card-order__title {
        font-size: 1.75rem;
    }

    .card-order__plan {
        line-height: 1.6;
        padding: 1.5rem;
    }

    .card-order .btn--primary {
        margin: 1.875rem 0;
    }
}

footer {
    position: fixed;
    bottom: 0.325rem;
    width: 100%;
}

.attribution {
    margin-block: 0.5rem;
    font-size: 0.735rem;
    text-align: center;
}

.attribution a {
    color: hsl(245deg, 75%, 52%);
}